.results__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.results__card {
  display: block;
  width: 24.5rem;
  border: 0.1rem solid #8a2be2;
  border-radius: 2rem;
}

.card {
  background-color: #f8f8ff;
  padding: 0.5rem;
}

.card__title {
  text-align: center;
  font-size: 1.8em;
}

.card__img {
  width: 100%;
  height: auto;
}